body {
    xfont-family: "Times New Roman", Georgia, Serif;
}

div.page-heading {
    text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

div#bs-example-navbar-collapse-1 {
    font-family: "Times New Roman", Georgia, Serif;
    xtext-shadow: 0px 0px 6px rgba(0,0,0,0.7);
    background-color: #000000;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    padding: 0px;
}

a.navbar-brand {
    font-family: "Times New Roman", Georgia, Serif;
}

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    font-family: "Times New Roman", Georgia, Serif;
}

hr.small {
    visibility: hidden;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gothic New Century', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 500;
}
