h1 {
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

span.subheading {
    font-family: "Times New Roman", Georgia, Serif;
}

div.page-heading {
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

div#bs-example-navbar-collapse-1 {
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}
